.skeleton {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}

.skeleton.text {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  transform-origin: 0 55%;
  transform: scale(1, 0.60);
  border-radius: 4px;
}

.skeleton.text:empty:before {
  content: "\00a0";
}

.skeleton.circular {
  border-radius: 50%;
}

.skeleton.rectangular {
  transform: none;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
